/*Enter Form Page*/
.EnterForm {
  background: whitesmoke;
  height: 87vh;
  width: 100%;
}

.EnterForm form {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*End Enter Form Page*/

.EnterForm form label {
  font-size: 18px;
  margin: 10px;
}

.EnterForm form input {
  width: 15%;
  padding: 5px;
  font-size: 16px;
  margin: 10px;
}

.EnterForm form button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background: black;
  color: white;
  margin-bottom: 15px;
}