/*Enter Form Page*/
.EnterForm {
 background: transparent;
  height: 87vh;
  width: 100%;
  color: grey;
  opacity: 0;
  animation: fadein 3s forwards;
  /* animation-iteration-count: 1; */
  animation-delay: 1s;
  font-family: 'Varela Round', sans-serif;
}

.EnterForm form {
  margin-top: -30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinForm {
  margin-top: -50%;
}

/*End Enter Form Page*/

.EnterForm form label {
  font-size: 18px;
  margin: 10px;
}

.EnterForm form input {
  width: 40%;
  height: 33px;
  /* padding: 5px; */
  font-size: 16px;
  margin: 10px;
  color: grey;
  border: none;
  background: white;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.EnterForm form button {
  width: 30%;
  height: 33px;
  font-size: 16px;
  background: white;
  color: grey;
  font-weight: bold;
  margin-bottom: 15px;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#room-input {
  width: 25%;
  height : 33px;
}

.error-message {
  color: red;
}

@keyframes fadein {  
  from {opacity: 0}
  to {opacity: 1}
}

@media only screen and (max-width: 360px) {
  .joinForm {
    margin-top: -40%;  }
}

@media only screen and (min-width: 450px) {
  .EnterForm form {
    margin-top: -5%;
  }
}

