.App {
  margin: 0;
}

.Header {
  background-color: rgb(35, 150, 35);
  color: white;
  height: 13vh;
  /* margin: auto; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EnterForm {
  background-color: blue;
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



h1 {
  margin: 0;
}